  body {
    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: white;
    font-style: bold;
  }
  img {
    width: 50vw;
    margin: 50px;
  }
  #header {
    background-color: #D291BC;
    color: white;
    font-size: 30px;
    /* padding: top right bottom left; */
    padding: 30px 50px 30px 50px;
    margin: 30px 50px 0px 50px;
    font-family: 'Gemunu Libre', sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  #double {
    border: double #E0BBE4 2px;
  }
  #Miku {
    background-color: #D291BC;
    padding: 30px 50px 30px 50px;
    margin: 30px 50px 0px 50px;
  }

  #K {
    background-color: #D291BC;
    padding: 30px 50px 30px 50px;
    margin: 30px 50px 0px 50px;
  }
  #A {
    background-color: #D291BC;
    padding: 30px 50px 30px 50px;
    margin: 30px 50px 0px 50px;
  }
  #Ak {
    background-color: #D291BC;
    padding: 30px 50px 30px 50px;
    margin: 30px 50px 0px 50px;
  }
  #T {
    background-color: #D291BC;
    padding: 30px 50px 30px 50px;
    margin: 30px 50px 0px 50px;
  }

  #Hatsune {
    background-color:  #137a7f;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
    font-style: normal;
  }
  #Kohane {
    background-color:  #FF679A;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
    font-style: normal;
  }
  #An {
    background-color: #00BBDC;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
    font-style: normal;
  }
  #Akito {
    background-color: #FF7721;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
    font-style: normal;
  }
  #Toya {
    background-color: #0077DD;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Gemunu Libre', sans-serif;
    font-style: normal;
  }
  button:hover {background-color: #3e8e41}

  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
